<ul class="profileNav-list">
	<li class="profileNav-item">
		<span class="profileNav-lb">Tweets</span>
		<span class="profileNav-value">18</span>
	</li>
	<li class="profileNav-item">
		<span class="profileNav-lb">Followers</span>
		<span class="profileNav-value">{{user.followers_count}}</span>
	</li>
	<li class="profileNav-item">
		<span class="profileNav-lb">Following</span>
		<span class="profileNav-value">{{user.friends_count}}</span>
	</li>
</ul>