/* line 4, ../sass/default.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 9, ../sass/default.scss */
.page {
  margin: 0 auto;
  padding-left: 10vw;
  width: 85%;
}

/* line 16, ../sass/default.scss */
#tweetView {
  width: 70%;
  float: right;
}
/* line 19, ../sass/default.scss */
#tweetView .tweet-item {
  background-color: white;
  border: 1px solid #e1e8ed;
  color: #292f33;
  font-size: 16px;
  padding: 13px 15px 15px;
}
/* line 20, ../sass/default.scss */
#tweetView .tweet-item:nth-child(1) {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid white;
}
/* line 25, ../sass/default.scss */
#tweetView .tweet-item:nth-last-child(1) {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #e1e8ed;
}
/* line 36, ../sass/default.scss */
#tweetView .tweet-item .screen-name {
  color: #8899a6;
  font-size: 13px;
}
/* line 41, ../sass/default.scss */
#tweetView .tweet-item .retweet-name {
  color: #8899a6;
  font-size: 12px;
}
/* line 46, ../sass/default.scss */
#tweetView .tweet-item a.retweet-name {
  text-decoration: none;
}
/* line 50, ../sass/default.scss */
#tweetView .tweet-item .user-url {
  color: #292f33;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
/* line 55, ../sass/default.scss */
#tweetView .tweet-item .user-url:hover {
  text-decoration: underline;
}
/* line 59, ../sass/default.scss */
#tweetView .tweet-item .thumb-nail {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
/* line 68, ../sass/default.scss */
#tweetView .tweet-item .count {
  color: #ccd6dd;
  font-size: 16px;
  vertical-align: middle;
}
/* line 74, ../sass/default.scss */
#tweetView .tweet-item .tweet-img {
  margin: 5px 0;
}
/* line 76, ../sass/default.scss */
#tweetView .tweet-item .tweet-img img {
  max-width: 100%;
  height: 295.375px;
}

/* line 85, ../sass/default.scss */
#profileView {
  display: inline-block;
  width: 25%;
  float: left;
}
/* line 90, ../sass/default.scss */
#profileView .profile-avatar img.profile-img {
  border: 5px solid #fff;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  width: 200px;
  height: 200px;
}
/* line 98, ../sass/default.scss */
#profileView .profile-name {
  font-weight: bold;
  font-size: 22px;
}
/* line 102, ../sass/default.scss */
#profileView .profile-screen-name {
  color: #8899a6;
  font-size: 14px;
}
/* line 107, ../sass/default.scss */
#profileView .tweetBox {
  background-color: #E5F2F7;
  border-radius: 5px;
  border: solid 1px #99CDE1;
  padding: 15px;
  margin-top: 30px;
}
/* line 114, ../sass/default.scss */
#profileView .tweetBox .inputForm {
  font-size: 14px;
  width: 100%;
  height: 3em;
  border: solid 1px #99CDE1;
  padding: 0 10px;
}
/* line 122, ../sass/default.scss */
#profileView .tweetBox .inputForm::-webkit-input-placeholder {
  color: #8899A6;
  font-size: 14px;
}
/* line 129, ../sass/default.scss */
#profileView .tweetBox .tweetBtn {
  background-color: #0084b4;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  padding: 9px 16px 8px 17px;
  text-align: center;
}

/* line 143, ../sass/default.scss */
.sprite {
  background-image: url(https://si0.twimg.com/images/dev/cms/intents/icons/sprites/everything-spritev2.png);
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
/* line 149, ../sass/default.scss */
.sprite.retweeted {
  background-position: 16px 0;
}
/* line 152, ../sass/default.scss */
.sprite.favorite {
  background-position: 64px 0;
}
/* line 155, ../sass/default.scss */
.sprite.unfavorite {
  background-position: 96px 0;
}
/* line 158, ../sass/default.scss */
.sprite.retweet {
  background-position: 47px 0;
}

/* line 163, ../sass/default.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 172, ../sass/default.scss */
.clearfix {
  display: inline-block;
}

/* line 176, ../sass/default.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 180, ../sass/default.scss */
* html .clearfix {
  height: 1%;
}

/* line 184, ../sass/default.scss */
#profileCanopy {
  display: inline-block;
}
/* line 186, ../sass/default.scss */
#profileCanopy li {
  list-style: none;
  display: inline-block;
  width: 60px;
  padding: 0 15px;
  text-align: center;
}
/* line 194, ../sass/default.scss */
#profileCanopy .profileNav-lb {
  color: #66757f;
  font-size: 11px;
  letter-spacing: .02em;
  text-transform: uppercase;
}
/* line 200, ../sass/default.scss */
#profileCanopy .profileNav-value {
  color: #0084B4;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
}

/*# sourceMappingURL=default.css.map */
